[Desktop Entry]
Name=Artifice
Exec=Artifice
Icon=artifice
Type=Application
Categories=Graphics;2DGraphics;Utility;
Comment=Uma ferramenta simples para aplicar logos em imagens.